html{
    height:100%;
}

body{
    height:100%;
}
body #hours,#minutes,#seconds  {
    float:left;
    width:200px;
    height:200px;
    border:solid black 1px;
    color:red;
    font-size:100px;
    text-align: center;
}

#wrap div{
    margin-left:50px;
}
#wrap{
    height:500px;
    width:100%;
}
body .invid{
   width:100px;
   height:200px;
    float:left;
    color:red;
    font-size:100px;
    text-align: center;
}
